{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

    <div class="container">

      <form class="" action="{{url_for('newCategory')}}"
        method="POST">
        <h1 class="color">Add a new coin</h1>
        <div class="form-group">
          <label for="formGroupExampleInput" class="color">Name of Coin (ex: Litecoin, Dash,
            NEM, Ethereum Classic...)</label>
          <input type="text" class="form-control" name="name" id="formGroupExampleInput">
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
      </form>
    </div>
{% endblock %}
