{% extends "main.html" %}
{% block content %}
{% include "header.html" %}


    <div class="container">

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="flash">
      <ul>
        {% for message in messages %}
          <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    {% endwith %}

    <div class="row list-group d-flex flex-row">
      <div class="col-4 p-2">
        <div class="col-4__crypto">
          <h3 class="color">List of cryptocurrency</h3>
          {% for cl in category_list %}
          <div class="list-group">
            <div class="list-group-item">
            <a class="list-group-item list-group-item-action
            flex-column align-items-start active"
            href="{{url_for('categoryItem',category_id=cl.id)}}" >
            {{cl.name}}</a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

    <div class="col-8 d-flex flex-row">
      <div class="col-8__updated p-2">
        <h3 class="color">{{category.name}}</h3>
        <table class="table table-sm table-dark">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Description</th>
            </tr>
          </thead>
          <tbody>
            {% for i in items %}
            <tr>
              <td>{{i.name}}</td>
              <td>{{i.description}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    </div>
  </div>
  </div>


{% endblock %}
