{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

    <div class="">
      <h1>Edit category.name details</h1>
      <p>{{category_id}}</p>
      <p>{{category_item_id}}</p>
      <p>{{category_item.name}}</p>
      <form class="" action="{{url_for('editCategoryItem',
      category_id = category_id, category_item_id=category_item.id)}}" method="POST">
        <div class="">
          <h2>Name of Details: </h2>
          <input type="text" name="name" value="{{category_item.name}}">
        </div>
        <div>
          <h2>Description of Details </h2>
          <input type="text" name="description" value="{{category_item.description}}">
        </div>
        <div class="">
          <input type="submit" name="" value="Edit">
        </div>
    </div>

{% endblock %}
