{% extends "main.html" %}
{% block content %}

    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
      <a class="navbar-brand title"
      href="{{url_for('showCategory')}}">Coinance</a>
      <div class="navbar-nav">
        <li class="nav-item active my-2 my-lg-0">
          <a class="btn btn-primary btn-lg"
          href="{{url_for('showLogin')}}">Log in</a>
        </li>
      </div>
    </nav>



    <div class="container">

      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <div class="flash">
        <ul>
          {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      {% endwith %}

      <div class="row list-group d-flex flex-row">
        <div class="col-4 p-2">
          <div class="col-4__crypto">
            <h3 class="color">List of cryptocurrency</h3>
            {% for c in category %}
            <div class="list-group">
              <div class="list-group-item">
              <a class="list-group-item list-group-item-action
              flex-column align-items-start active"
              href="{{url_for('categoryItem',category_id=c.id)}}" >
              {{c.name}}</a>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>

        <div class="col-8 d-flex flex-row">
          <div class="col-8__updated p-2">
            <h3 class="color">Newest Update</h3>
            {% for cil in category_item_list %}
            <ul class="list-group list-group-flush">
              <li class="list-group-item">{{ cil.name }}
                ({{ cil.category.name }})</li>
            </ul>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>


{% endblock %}
