{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

    <div class="container">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <div class="flash">
        <ul>
          {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      {% endwith %}

      <div class="row list-group d-flex flex-row">
        <div class="col-4 p-2">
          <div class="col-4__crypto">
            <h3 class="color">List of cryptocurrency</h3>
            {% for c in category %}
            <div class="list-group">
              {% if c.user.email == login_user.email %}
              <div class="list-group-item">
              <a class="list-group-item list-group-item-action flex-column align-items-start active" href="{{url_for('categoryItem',category_id=c.id)}}" >{{c.name}}</a>
              <a class="" href="{{url_for('editCategory',category_id=c.id)}}">Edit</a>
              <a class="" href="{{url_for('deleteCategory', category_id=c.id)}}">Delete</a>
              </div>
              {% else %}
              <div class="list-group-item">
              <a class="list-group-item list-group-item-action flex-column align-items-start active" href="{{url_for('categoryItem',category_id=c.id)}}" >{{c.name}}</a>
              </div>
              {% endif %}
            </div>
            {% endfor %}
            <a class="marginc btn btn-success" href="{{url_for('newCategory')}}">Add a new coin </a>
          </div>
        </div>
        <div class="col-8 d-flex flex-row">
          <div class="col-8__updated p-2">
            <h3 class="color">Newest Update</h3>
            {% for cil in category_item_list %}
            <ul class="list-group list-group-flush">
              <li class="list-group-item">{{ cil.name }} ({{ cil.category.name }})</li>
            </ul>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>


{% endblock %}
