{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

    <div class="container">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <div class="flash">
        <ul>
          {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      {% endwith %}

      <div class="row list-group d-flex flex-row">
        <div class="col-4 p-2">
          <div class="col-4__crypto">
            {% for c in category %}
            <div class="list-group">
              <a class="btn btn-primary" href="{{url_for('categoryItem',category_id=c.id)}}" >{{c.name}}, {{c.user_id}}, {{c.user.email}}</a>
              {% if c.user.email == category_user %}
              <a class="btn btn-secondary" href="{{url_for('editCategory',category_id=c.id)}}">Edit {{c.id}}</a>
              <a class="btn btn-danger" href="{{url_for('deleteCategory', category_id=c.id)}}">Delete</a>
              {% endif %}
            </div>
            {% endfor %}
            <a class="btn btn-success" href="{{url_for('newCategory')}}">Add a new coin </a>
          </div>
        </div>
        <div class="col-8 d-flex flex-row">
          <div class="col-8__updated p-2">
            <h3>Newest Update</h3>
            {% for cil in category_item_list %}
            <ul class="list-group list-group-flush">
              <li class="list-group-item-light">{{ cil.name }} ({{ cil.category.name }})</li>
            </ul>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>


{% endblock %}
