body{
  background-image: url("crypto_title.jpg");
}
.signin{
  margin: 10%;
}
.navbar{
  margin-bottom: 10%;
}
.title{
  font-family: 'Indie Flower',cursive;
  max-width: 100%;
  margin-right: 25%;
}
.login{
  max-width: 100%;
  margin-left:33%;
}
.flash{
  max-width: 100%;
  background-color: blue;
}

.content__crypto{
  width: 45vw;
  font-size:1.5em;
  margin-left: 5%;
  background-color: green;

}
.content__updated{
  width: 30vw;
  font-size: 1.5em;
  margin-left: 5%;
  background-color: green;
}
.col-8__updated{
  margin-left: 30%;
}
.btn-secondary{
  width: 30%;
}
.btn-danger{
  width: 30%;
}
.list-group-item-info{
  margin-bottom: 5%;
}
.color{
  color: white;
}
.google{
  margin-top: 5%;
  max-width: 100%;

}
.thirdparty{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.marginc{
  margin-top: 5%;
}
